MONGODB_URI="mongodb+srv://henehmadoa_db_user:zO27oWuI3G1cupky@cluster0.meiwyvk.mongodb.net/ncci_church?ssl=true&authSource=admin"

NEXTAUTH_SECRET=replace-with-a-random-32-byte-secret
NEXTAUTH_URL=http://localhost:3000

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@ncci.church
ADMIN_PASSWORD=change-this-password

CLOUDINARY_CLOUD_NAME=not5pvxb
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=not5pvxb

CLOUDINARY_API_KEY=284978376222446
CLOUDINARY_API_SECRET=sVCraggUoYZtfm2zqtEcNmCn5sM
